# macOS
.DS_Store

# Xcode
DerivedData/
*.xcuserdata/
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Build products
build/
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
Package.resolved

# CocoaPods (如果你没用 CocoaPods，可保留)
Pods/

# Carthage (如果你没用，可保留)
Carthage/Build/

# Fastlane (如果你没用，可保留)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
